<div class="auth-page">
  <form
    nz-form
    [formGroup]="authForm"
    class="login-form"
    (ngSubmit)="submitForm()"
  >
    <nz-form-item>
      <nz-form-control [nzErrorTip]="'auth.errors.emailError' | translate">
        <nz-input-group nzPrefixIcon="user">
          <input
            type="text"
            nz-input
            formControlName="email"
            [placeholder]="'auth.placeholders.email' | translate"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="'auth.errors.passwordError' | translate">
        <nz-input-group nzPrefixIcon="lock">
          <input
            type="password"
            nz-input
            formControlName="password"
            [placeholder]="'auth.placeholders.password' | translate"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div nz-row class="login-form-margin">
      <div nz-col [nzSpan]="12">
        <label nz-checkbox formControlName="remember">
          <label>{{ "auth.links.remember" | translate }}</label>
        </label>
      </div>
      <div nz-col [nzSpan]="12">
        <a class="login-form-forgot">{{ "auth.links.forgot" | translate }}</a>
      </div>
    </div>
    <div class="auth-buttons">
      <button
        nz-button
        class="login-form-button login-form-margin"
        [nzType]="'primary'"
      >
        {{ "auth.buttons.login" | translate }}
      </button>
      <div class="registration-link">
        {{ "auth.label" | translate }}
        <a routerLink="/registration">{{
          "auth.links.registrate" | translate
        }}</a>
      </div>
    </div>
  </form>
  <button class="icon icon-localization" (click)="localizationButtonClick()">
    <span nz-icon nzType="global" nzTheme="outline"></span>
  </button>
  <button class="icon icon-question">
    <span nz-icon nzType="question" nzTheme="outline"></span>
  </button>
</div>
