:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 10%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  #localization {
    border: none;
    background-color: white;
  }

  #question {
    border-radius: 50%;
    border: none;
  }
}

.form-container {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
}

.login-form {
  width: 18.75%;
}

.login-form-margin {
  margin-bottom: 1rem;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
