<nz-layout>
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzSelectable="false" nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li nz-menu-item (click)="logOut()">
        <span nz-icon nzType="logout" nzTheme="outline"></span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="bell" nzTheme="outline"></span>
      </li>
      <li nz-menu-item (click)="localizationButtonClick()">
        <span nz-icon nzType="translation" nzTheme="outline"></span>
      </li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider nzCollapsible nzWidth="12.5rem" nzTheme="light">
      <ul nz-menu nzMode="inline" nzSelectable="false" class="sider-menu">
        <li nz-menu-item>
          <span nz-icon nzType="dashboard" nzTheme="outline"></span>
          <span>{{'home-page.slider.entities' | translate}}</span>
          <a routerLink='entities'></a> 
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="form" nzTheme="outline"></span>
          <span>{{'home-page.slider.employees' | translate}}</span>
          <a routerLink="employees"></a>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="database" nzTheme="outline"></span>
          <span>{{'home-page.slider.projects' | translate}}</span>
          <a routerLink='projects'></a>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <div class="description-container">
        <app-breadcrumb></app-breadcrumb>
        {{changeHeaders() | async}}
        <h2>{{title | translate}}</h2>
        <h3>{{description | translate}}</h3>
      </div>
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
