<nz-spin [style.display]="isLoading ? 'block' : 'none'"></nz-spin>
<button nz-button nzType="primary" (click)="onAddClick()">{{'entities.entity.addButton' | translate}}</button>
<ul nz-menu nzMode="inline" nzSelectable="false">
  <ng-container *ngIf="entitiesArray.length === 0">
    <li nz-menu-item>{{'entities.entity.emptyList' | translate}}</li>
  </ng-container>
  <ng-container *ngFor="let entite of entitiesArray">
    <li nz-menu-item (click)="onEntityClick(entite.id,entite.attributes.name)">{{entite.attributes.name}}</li>
  </ng-container>
</ul>