<div class="cv-selection-wrapper">
  <nz-list>
    <nz-list-item *ngFor="let cv of cvList">
      <nz-list-item-meta-title>
        <a (click)="onCvClick(cv.id)">{{ cv.attributes.name }}</a>
      </nz-list-item-meta-title>
      <ul nz-list-item-actions>
        <nz-list-item-action>
          <span
            nz-icon
            nzType="delete"
            nzTheme="outline"
            (click)="deleteCv(cv.id)"
          ></span>
        </nz-list-item-action>
      </ul>
    </nz-list-item>
  </nz-list>
  <button nz-button (click)="createCv()">+</button>
</div>
<div class="cv-edit-wrapper" [hidden]="hidden">
  <form nz-form nzLayout="inline" [formGroup]="cvForm" (ngSubmit)="onSave()">
    <!-- Description -->
    <nz-form-item>
      <nz-form-label>{{'CVs.cvChoice.description' | translate}}</nz-form-label>
      <nz-form-control nzErrorTip="Fill the description">
        <input nz-input formControlName="description" type="text" />
      </nz-form-control>
    </nz-form-item>
    <!-- Name -->
    <nz-form-item>
      <nz-form-label>{{'CVs.cvChoice.name' | translate}}</nz-form-label>
      <nz-form-control nzErrorTip="Fill the name">
        <input nz-input formControlName="name" type="text" />
      </nz-form-control>
    </nz-form-item>
    <!-- Skills -->
    <nz-form-item>
      <nz-form-label nzRequired>{{'CVs.cvChoice.techStack' | translate}}</nz-form-label>
      <nz-select
        nzMode="tags"
        nzPlaceHolder="Tech stack"
        formControlName="skills"
      >
        <nz-option
          *ngFor="let skill of listOfOptions"
          [nzLabel]="skill.attributes.name"
          [nzValue]="skill.id"
        ></nz-option>
      </nz-select>
    </nz-form-item>
  </form>
  <div class="button-wrapper">
    <button nz-button nzType="primary" (click)="addProject()">
      {{'CVs.cvChoice.addProject' | translate}}
    </button>
  </div>
  <ng-container *ngIf="selectedProjectsList?.length">
  <nz-collapse>
    <nz-collapse-panel
    *ngFor="let project of selectedProjectsList; let index = index"
    >
        <!-- Name -->
        <nz-form-item>
          <nz-form-label>{{'projects.project-info.name' | translate}}</nz-form-label>
          <input
            nz-input
            disabled="true"
            [ngModel]="project.data.attributes.name"
          />
        </nz-form-item>
        <!-- From -->
        <nz-form-item>
          <nz-form-label>{{'projects.project-info.from' | translate}}</nz-form-label>
          <input
            nz-input
            disabled="true"
            [ngModel]="project.data.attributes.from"
          />
        </nz-form-item>
        <!-- To -->
        <nz-form-item>
          <nz-form-label>{{'projects.project-info.to' | translate}}</nz-form-label>
          <input
            nz-input
            disabled="true"
            [ngModel]="project.data.attributes.to"
          />
        </nz-form-item>
        <!-- Iternal name -->
        <nz-form-item>
          <nz-form-label>{{'projects.project-info.internalName' | translate}}</nz-form-label>
          <input
            nz-input
            disabled="true"
            [ngModel]="project.data.attributes.internalName"
          />
        </nz-form-item>
        <!-- Domain -->
        <nz-form-item>
          <nz-form-label>{{'projects.project-info.domain' | translate}}</nz-form-label>
          <input
            nz-input
            disabled="true"
            [ngModel]="project.data.attributes.domain"
          />
        </nz-form-item>
        <!-- Tech stack -->
        <nz-form-item>
          <nz-form-label>{{'projects.project-info.techStack' | translate}}</nz-form-label>
          <input
            nz-input
            disabled="true"
            [ngModel]="projectsSkillsToDisplay[index]"
          />
        </nz-form-item>
        <!-- Description -->
        <nz-form-item>
          <nz-form-label>{{'projects.project-info.description' | translate}}</nz-form-label>
          <input
            nz-input
            disabled="true"
            [ngModel]="project.data.attributes.description"
          />
        </nz-form-item>
        <button nz-button (click)="deleteProject(project.data.id)">
          {{'CVs.cvChoice.delete' | translate}}
        </button>
      </nz-collapse-panel>
    </nz-collapse>
  </ng-container>
  <button nz-button (click)="onSave()">{{'CVs.cvChoice.save' | translate}}</button>
  <button nz-button (click)="onCancelClick()">{{'CVs.cvChoice.cancel' | translate}}</button>
</div>
