:host {
  display: flex;
}

.cv-selection-wrapper {
  width: 13.563rem;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

form {
  display: flex;
  padding: 0.6rem;
  margin-bottom: 0.6rem;
  gap: 1.25rem;
}

.button-wrapper {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 0.6rem;
}

.ant-select {
  width: 12.5rem;
 }

 .ant-collapse + button {
  margin-top: 0.5rem;
 }